<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->
{% set navPages = collections.all | eleventyNavigation %}
<div id="navigation">
    <div aria-hidden="true" class="background-color-div">
        <!--This div is used to overcome a z-index issue where the open
            #navbar-menu is on top of the #navigation. This bar places itself
            the #navbar-menu so that menu appears behind the #navigation
        -->
    </div>
    <div class="container">
        <div class="top-container">
            <!--Logo - Get SVGs if you can.  I use fiverr to get png's turned into SVGs. Highly recommend it, worth the $20 - get a light and dark version-->
            <a class="logo" aria-label="click to go to home page" href="/">
                <!--Dark Colored Logo-->
                <img class="dark"
                     aria-hidden="true"
                     src="/assets/images/KelownaGlassLogoColor.png"
                     decoding="async"
                     loading="lazy"
                     alt="logo"
                     width="221"
                     height="66">
            </a>
            <!--Mobile Nav toggle-->
            <button class="hamburger-menu"
                    aria-expanded="false"
                    aria-controls="navbar-menu">
                <span class="visually-hidden">Menu</span>
                <span aria-hidden="true"></span>
            </button>
            <div class="header-contact-container">
                <div class="contact-card">
                    <img class="contact-icon" src="assets/images/PhoneIcon.png">
                    <div class="text-container">
                        <p class="top-text">(250) 869-0700</p>
                        <p class="bottom-text">Locally Owned</p>
                    </div>
                </div>
                <div class="contact-card">
                    <img class="contact-icon" src="assets/images/AddressIcon.png">
                    <div class="text-container">
                        <p class="top-text">2492 ENTERPRISE WAY</p>
                        <p class="bottom-text">Kelowna, BC</p>
                    </div>
                </div>
                <div class="contact-card">
                    <img class="contact-icon" src="assets/images/ClockIcon.png">
                    <div class="text-container">
                        <p class="top-text">8 - 4:30pm</p>
                        <p class="bottom-text">Mon - Fri</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-float-container">
            <!--Main Nav-->
            <nav id="navbar-menu" aria-label="main navigation">
                <ul>
                    {%- for entry in navPages %}
                        <li>
                            <a {% if entry.url == page.url %}class="active"{% endif %}
                               href="{{ entry.url }}">{{ entry.title }}</a>
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
